.topbody {
    background-color: rgb(12, 159, 202);
    color: white;
}

.mybutton {
    width: 70px;
    height: 50px;
    margin: 5px;
    margin-top: 0px;
    color: red;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.4);
}

.w100 {
    width: 100%;
    max-width: 100%;
}

.keypad {
    background-color: rgb(84, 206, 198);
    align-content: center;
    padding-top: 10px;
}

.keypadcol {
    align-content: center;
    justify-content: end;
    align-items: center;
}

.keys {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    background-color: rgb(84, 206, 198);
    border-width: 0px;
    color: white;
    border: none;
    width: 100%;
}

.boxtop {
    background-color: rgb(12, 159, 202);
    border-width: 0px;
    border: none;
    color: white;
    width: 100%;
}

.bluegrid {
    padding-top: 50px;
    background-color: rgb(12, 159, 202);
    color: white;
    padding-bottom: 50px;
}

.greengrid {
    padding-top: 50px;
    background-color: rgb(84, 206, 198);
    color: white;
}

.mybutton {
    opacity: 80%;
}

input::placeholder {
    color: white;
}

input {
    text-align: right;
}

.nopadding {
    padding-left: 0%;
    padding-right: 0%;
}

.nomargin {
    margin-left: 0%;
    margin-right: 0%;
}